.place__title {
    grid-area: title;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    margin: 0;
}

@media screen and (max-width: 900px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }

    /* для переноса слова "коса" строкой ниже */
    .place__title:first-child {
        letter-spacing: 0.8px;
    }
}

@media screen and (max-width: 700px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        width: calc(100% - 16px*2);
    }
}