.places {
    width: calc(100% - 296px);
    display: flex;
    flex-direction: column;
    gap: 80px;
}

@media screen and (max-width: 1024px) {
    .places {
        width: calc(100% - 96px);
    }
}