.lead__title {
    width: calc(100% - 104px*2);
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    margin: 0;
}

@media screen and (min-width: 1200px) {
    .lead__title {
        width: calc(100% - 132px*2);
    }
}

@media screen and (max-width: 900px) {
    .lead__title {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
    }
}