.place__paragraph {
    margin: 0 0 26px;
    font-size: 18px;
    font-weight: 400;
    line-height: 29.34px;
}

.place__paragraph:last-child {
    margin: 0;
}

@media screen and (max-width: 900px) {
    .place__paragraph {
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 26.06px;
    }
}

/* для выравнивания строк */
@media screen and (max-width: 700px) {
    .place__paragraph {
        line-height: 26.04px;
    }
}