.lead__image {
    width: 100%;
    min-height: 580px;
    display: block;
    margin: 56px 0 0;
    background-image: url(../../../images/lead-polka.jpg);
    background-size: cover;
}

@media screen and (min-width: 1200px) {
    .lead__image {
        min-height: 615px;
        margin: 64px 0 0;
    }
}