.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 640px;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
}

@media screen and (min-width: 1200px) {
    .cover {
        width: calc(100% - 48px*2);
        min-height: 740px;
    }
}

@media screen and (max-width: 850px) {
    .cover {
        min-height: 480px;
    }
}