.cover__overlay {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    gap: 32px;
    z-index: 1;
}

.cover__overlay:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2a2c2f;
    opacity: 0.3;
}

.cover__overlay:hover:before {
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out;
}

@media screen and (max-width: 700px) {
    .cover__overlay {
        gap: 16px;
    }
}