.footer {
    width: calc(100% - 48px*2);
    min-height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 92px 0 24px;
}

@media screen and (max-width: 850px) {
    .footer {
        width: calc(100% - 24px*2);
        padding-top: 88px;
    }
}